* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.4);
}

.container {
  width: 40%;
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 25px;
}

.fa-solid {
  float: right;
}

input {
  border: none;
}

#add-new-task {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

input::placeholder {
  font-style: italic;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

#task {
  width: 90%;
  font-size: 16px;
  padding: 10px;
}

.btn {
  border: none;
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background-color: aliceblue;
  border-radius: 10px;
}
